 body{
    margin: 0;
    font-family: 'Inter', system-ui, sans-serif;

}

html {
  scroll-behavior:  smooth;
}


.mainContent{
    margin-left: 250px;
    width: calc(100% - 250px);
}
.home{
    height: 100vh;
    background-color: pink;
    
}
.products{
    height: 100vh;
   
}
.yarn{
    height: 100vh;
    
}
.materials{
    height: 100vh;
    background-color: green;
}
.settings{
    height: 100vh;
    background-color: blue;
}
/* --------------  Nav Bar   ---------------------------------------------- */

.navBar{
    position: fixed;
    height: 100vh;
    width: 250px;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    background-color: rgba(128, 0, 128, 0.415);
    z-index: 10000;
}

.navBar .heading{
    font-size: 30px;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 25px;
  margin: 0;
   color:  rgb(128, 0, 128);
   background-color: white;
   
}

.navLinks{
    font-size: 30px;
    padding-top: 50px;
}

.navLinks a {
    text-decoration: none;
    color: white;
}

.homeButton h4 {
    margin: 0px;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
     font-size: 22.36px;
    line-height: 1.6;
    
    
}
.productsButton h4 {
    margin: 0px;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
     font-size: 22.36px;
    line-height: 1.6;
    
    
}
.yarnButton h4 {
    margin: 0px;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
     font-size: 22.36px;
    line-height: 1.6;
    
    
}
.materialsButton h4 {
    margin: 0px;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
     font-size: 22.36px;
    line-height: 1.6;
    
    
}
.settingsButton h4 {
    margin: 0px;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 22.36px;
    line-height: 1.6;
    
}

.homeButton:hover{
    background-color: rgba(128, 0, 128, 0.797);
  border-radius: 10px;
}

.yarnButton:hover{
    background-color: rgba(128, 0, 128, 0.797);
  border-radius: 10px;
}

.productsButton:hover{
    background-color: rgba(128, 0, 128, 0.797);
  border-radius: 10px;
}

.materialsButton:hover{
    background-color: rgba(128, 0, 128, 0.797);
  border-radius: 10px;
}

.settingsButton:hover{
    background-color: rgba(128, 0, 128, 0.797);
 border-radius: 10px;
}

/* --------------------Products page--------------------- */
.products h3{
   font-size: 45px;
   line-height: 1.55;
   padding-left: 80px;
   padding-top: 75px;
  }

  #searchBar{
    width: 250px;
    position: relative;
    left: 300px;
     bottom:  80px;
     height: 25px;
  }
  #filters{
    position: relative;
    bottom: 80px;
    left: 315px;
    width: 200px;
     height: 25px;
  }

  #addProduct{
     position: relative;
    bottom: 65px;
    left: 650px;
    width: 100px;
    height: 50px;
  }

  #categoryType{
 position: relative;
     left: 570px;
    bottom: 50px;
     width: 150px;
    height: 25px;
  }

  #yarnNeeded{

 position: relative;
    left: 580px;
    bottom: 50px;
    width: 150px;
    height: 25px;
  }

#addColour{

 position: relative;
    left: 590px;
    bottom: 50px;
    width: 100px;
    height: 25px;
  }

  #productName{
    position: relative;
    left: 560px;
    bottom: 50px;
     width:200px;
    height: 20px;
  }

  .modal{
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;

  }


  .modal.open {
    opacity: 1;
    z-index: 999;
   
  }

  .modal-inner{
    background-color:   rgb(242, 137, 242);
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
  }

  .modal-inner h2{
    margin: 0;
  }

  .modal-inner p{
    line-height: 24px;
    margin: 10px 0;

  }


#openModal{
  position: relative;
  left: 800px;
  bottom: 240px;
   font-size: 30px; /* bigger icon */
    /* padding: 10px; */
    cursor: pointer;
    border-radius: 1%;
    border: 0;
    background-color: rgba(240, 248, 255, 0);
}


/* Table */
.productTable{
  border-collapse: collapse;
  margin: 0 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 20px;
  position: relative;
  left: 100px;
  width: 900px;
}

.productTable th{
  background-color:  rgba(128, 0, 128, 0.686);
  color: white;
  text-align: left;
  font-weight: bold;
  
}

.productTable th,
.productTable td {
  padding: 12px 15px;
}

.table-container{
  max-height: 350px;
  overflow-y: auto;
  border: 1px solid #333;
  width: 1000px;
  border: 0;
  position: relative;
  bottom: 125px;
  left: 20px;
  
}

.addedColours {
  height: 55px;           
  overflow-y: auto;     
  margin: 0;
  width: 60px;          
  position: relative;
  left: 1165px;
  bottom: 55px;
}


.colour-display {
  height: 40px;
  overflow-y: auto;
}


.editBtn{
  background-color: #33333300;
  border: none;
  cursor: pointer;
}



/* ------------------------Yarn Page --------------------------- */

#yarnTable td:third-child {
    padding-left: 10px; 
}


#yarnTable th{
   background-color:  rgba(128, 0, 128, 0.308);
  color: black;
  text-align: left;
  font-weight: bold;
}

#yarnTable{
  border-collapse: collapse;
  margin: 0 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 20px;
  position: relative;
  left: 100px;
  width: 900px;
}

.yarn h2{
    font-size: 45px;
   line-height: 1.55;
   padding-left: 80px;
   padding-top: 75px;
}

.yarnTable button{
  margin: 0 5px;
  background-color: orange;
}

.amount {
  margin:  0 5px;
  display: inline-block;
  text-align: center;
  min-width: 30px;
}



